
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Rafting Rezervasyon Otomasyonu &copy;Deniz Can TOŞUR Web sitesi 2020</p>
    </div>
    <!-- /.container -->
</footer>
