
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>Modern Business - Start Bootstrap Template</title>

<!-- Bootstrap core CSS -->

<link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />

<!-- Custom styles for this template -->

<!-- Navigation -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="/Home">Ana Sayfa</a>
    <a class="navbar-brand" href="/Home/Ekle">Rezervasyon Yap</a>
    <a class="navbar-brand" href="/Yemek/YemekEkle">Yemek Kaydı</a>
    <a class="navbar-brand" href="/Personel/GorevliEkle">Görevli Kaydı</a>
    <a class="navbar-brand" href="/Grupno/GEkle">Grup Kaydı</a>
    <link href="~/Content/css/modern-business.css" rel="stylesheet" />
    <div class="container">

        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/Home/Rezdurum">Rezervasyon Durumu</a>
 

                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="/Yemek/Lokanta">Yemek Durumu</a>
                </li>
                <li class="nav-item"> <a class="nav-link" href="/Personel/Gorevli">Görevli Durumu</a>
                </li>
                <li class="nav-item">
             
                    <a class="nav-link" href="/Grupno/Gno">Grup Durumu</a>
                  </li>

            </ul>
        </div>
    </div>
</nav>
