
@{
    ViewBag.Title = "GEkle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">
        Grup Kaydı

    </h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/Home">Home</a>
        </li>
        <li class="breadcrumb-item active">Grup kaydı</li>
    </ol>
    <form class="form-group" method="post">

        <div>
            <label>Grup numarası:</label>
            <input type="text" name="Grupno" class="form-control" />

            <label>Rafting Türü:</label>
            <input type="text" name="Raftingtür" class="form-control" />

            <label>Görevli numarası:</label>
            <input type="text" name="Gno" class="form-control" />



        </div>
        <br />
        <div><button>Grup Ekle</button></div>



    </form>


</div>

