
@{
    ViewBag.Title = "Ekle";
}

    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-4 mb-3">
            Rezervasyon Yap

        </h1>

        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/Home">Home</a>
            </li>
            <li class="breadcrumb-item active">Rezervasyon Yap</li>
        </ol>
        <form class="form-group" method="post">

            <div>
                <label>Mno:</label>
                <input type="text" name="Mno" class="form-control" />

                <label>Tc no:</label>
                <input type="text" name="Tc" class="form-control" />

                <label>Adınız:</label>
                <input type="text" name="Ad" class="form-control" />

                <label>Soyadınız:</label>
                <input type="text" name="Soyad" class="form-control" />

                <label>Telefon:</label>
                <input type="text" name="Telefon" class="form-control" />

                <label>E-mail:</label>
                <input type="email" name="Email" class="form-control" />

                <label>Rezervasyon Tarihi:</label>
                <input type="date" name="Reztarih" class="form-control" />

                <label>Kisi sayısı</label>
                <input type="text" name="Kisisayı" class="form-control" />

            </div>
            <br />
            <div><button>Kayıt Yap</button></div>



        </form>


    </div>

