@{
    ViewBag.Title = "GorevliEkle";
}
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">
        Görevli Kaydı

    </h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/Home">Home</a>
        </li>
        <li class="breadcrumb-item active">Görevli Kaydı</li>
    </ol>
    <form class="form-group" method="post">

        <div>
            <label>Görevli Numarası:</label>
            <input type="text" name="Gno" class="form-control" />

            <label>Görevli Adı:</label>
            <input type="text" name="Gad" class="form-control" />

            <label>Görevli Soyadı:</label>
            <input type="text" name="Gsoyad" class="form-control" />

            <label>Görevli Cinsiyet:</label>
            <input type="text" name="Gcinsiyet" class="form-control" />

            <label>Görevli telefon:</label>
            <input type="text" name="Gtelefon" class="form-control" />

            <label>Görevli E-mail:</label>
            <input type="email" name="Gemail" class="form-control" />

            <label>Görevli Maaş:</label>
            <input type="text" name="Gmaaş" class="form-control" />

        </div>
        <br />
        <div><button>Kayıt Yap</button></div>



    </form>


</div>


